@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* #region colors */

:root {
  --yellow: hsl(43, 55%, 65%);
  --yellow-dark: hsl(43, 50%, 60%);
  --blue: hsl(202, 80%, 60%);
  --blue-dark: hsl(202, 75%, 55%);
  --purple: hsl(270, 60%, 80%);
  --purple-dark: hsl(270, 55%, 75%);
  --red: hsl(355, 85%, 55%);
  --red-dark: hsl(355, 80%, 50%);
}

/* #endregion */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}

.max-width {
  max-width: 1320px;
  padding: 0 5rem;
  margin: auto;
}

.scroll-up-btn {
  display: none;
}

/* #region navbar */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 995;
  padding: 1.5rem 0;
  background-color: hsl(270, 60%, 80%);
}

.navbar .max-width,
.navbar .menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #000;
  font-size: 2.25rem;
  font-weight: bold;
}

.navbar .theme-switch.night i::before {
  content: '\f185';
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #000;
  font-size: 1.125rem;
  margin-left: 1.5rem;
  transition: all 0.3s ease;
}

.navbar .menu li a:hover {
  color: #fff;
}

.theme-switch,
.menu-btn {
  width: 1.5rem;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

.theme-switch {
  margin-right: 0.5rem;
}

.menu-btn {
  display: none;
}

/* #endregion */

/* #region home section */

.home {
  display: flex;
  background: url('./images/banner.jpg') no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.home .home-content {
  margin-top: 5rem;
  text-shadow: 1px 2px 0 #000, -3px -1px 0 #3cd1ea, 3px 2px 0 #fe1d6b;
}

.home .home-content .intro {
  font-size: 1.75rem;
}

.home .home-content .name {
  font-size: 4.75rem;
  font-weight: bold;
}

.home .home-content .description {
  font-size: 2.5rem;
  margin: 0.375rem 0;
}

/* #endregion */

/* #region about section */

.about {
  padding: 6.25rem 0;
  /* background-color: hsl(270, 90%, 95%); */
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
}

.about .title::before,
.about .title::after {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a3e9f5;
}

.about .title::before {
  content: '';
  height: 5%;
  width: 100%;
}

.about .title::after {
  content: 'who i am';
  height: fit-content;
  width: fit-content;
  color: #111;
  font-size: 1rem;
  font-weight: normal;
  padding-right: 1.5rem;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 1.625rem;
  font-weight: bold;
}

.about .about-content .right .description {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.about .about-content .right a {
  display: inline-block;
  background-color: #ee2b3b;
  color: #fff;
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  border: 2px solid #ee2b3b;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  background-color: #fff;
  color: #ee2b3b;
}

/* #endregion */

/* #region media queries */

/* large */
@media (max-width: 1200px) {
  .max-width {
    max-width: 1140px;
    padding: 0 4rem;
  }

  .about .about-content .left img {
    height: 22rem;
    width: 22rem;
  }
}

/* medium */
@media (max-width: 992px) {
  .max-width {
    max-width: 960px;
    padding: 0 3rem;
  }

  .main {
    position: relative;
  }

  /* overlay */
  .main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: -5;
    transition: all 0.3s ease;
  }

  .main.active::before {
    opacity: 0.65;
    z-index: 990;
  }

  .navbar .theme-switch {
    margin-right: 1.5rem;
  }

  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    margin-top: 5.75rem;
    padding: 2rem;
    padding-right: calc(1.5rem * 6 + 3rem);
    width: fit-content;
    background-color: hsl(270, 60%, 80%);
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    right: 0;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn.active i::before {
    content: '\f00d';
  }

  .home .home-content .name {
    font-size: 4.5rem;
  }

  .home .home-content .description {
    font-size: 2.25rem;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .about .about-content .right {
    flex: 100%;
  }
}

/* small */
@media (max-width: 768px) {
  .max-width {
    max-width: 720px;
    padding: 0 2rem;
  }

  .navbar .menu {
    padding-right: calc(1.5rem * 6 + 2rem);
  }

  .home .home-content .name {
    font-size: 3.75rem;
  }

  .home .home-content .description {
    font-size: 2rem;
  }
}

/* extra small */
@media (max-width: 576px) {
  .max-width {
    max-width: 540px;
  }

  .navbar .menu {
    right: -110%;
    padding-right: 4rem;
  }

  .home .home-content .name {
    font-size: 3.125rem;
  }

  .home .home-content .description {
    font-size: 1.625rem;
  }
}

/* #endregion */
