@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* #region colors */

:root {
  --yellow: hsl(43, 55%, 65%);
  --yellow-dark: hsl(43, 50%, 60%);
  --blue: hsl(202, 80%, 60%);
  --blue-dark: hsl(202, 75%, 55%);
  --purple: hsl(270, 60%, 80%);
  --purple-dark: hsl(270, 55%, 75%);
  --red: hsl(355, 85%, 55%);
  --red-dark: hsl(355, 80%, 50%);
}

/* #endregion */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}

.max-width {
  max-width: 1320px;
  padding: 0 5rem;
  margin: auto;
}

/* #region scroll up button */

.scroll-up-btn {
  position: fixed;
  height: 3rem;
  width: 3rem;
  background-color: #ee2b3b;
  right: 2rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1000;
  font-size: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}

/* #endregion */

/* #region navbar */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 995;
  padding: 1.5rem 0;
  background-color: hsl(270, 60%, 80%);
}

.navbar .max-width,
.navbar .menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #000;
  font-size: 2.25rem;
  font-weight: bold;
}

.navbar .theme-switch.night i::before {
  content: '\f185';
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #000;
  font-size: 1.125rem;
  margin-left: 1.5rem;
  transition: all 0.3s ease;
}

.navbar .menu li a:hover {
  color: #fff;
}

.theme-switch,
.menu-btn {
  width: 1.5rem;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

.theme-switch {
  margin-right: 0.5rem;
}

.menu-btn {
  display: none;
}

/* #endregion */

/* #region home section */

.home {
  display: flex;
  background: url('./images/banner.jpg') no-repeat bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.home .home-content {
  margin-top: 5rem;
  text-shadow: 1px 2px 0 #000, -3px -1px 0 #3cd1ea, 3px 2px 0 #fe1d6b;
}

.home .home-content .intro {
  font-size: 1.75rem;
}

.home .home-content .name {
  font-size: 4.75rem;
  font-weight: bold;
}

.home .home-content .description {
  font-size: 2.5rem;
  margin: 0.375rem 0;
}

/* #endregion */

/* #region common styling */

section {
  padding: 6.25rem 0;
  background-color: #fff;
}

section.alternate {
  background-color: hsl(270, 90%, 97.5%);
}

section .title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
}

section .title::before,
section .title::after {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a3e9f5;
}

section .title::before {
  content: '';
  height: 5%;
  width: 100%;
}

section .title::after {
  height: fit-content;
  width: fit-content;
  color: #111;
  font-size: 1rem;
  font-weight: normal;
  padding-right: 1.5rem;
}

.about .about-content,
.skills .skills-content,
.projects .projects-content .cards,
.playground .playground-content .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content a,
.projects .projects-content .overlay a,
.projects .projects-content > a,
.playground .playground-content > a {
  position: relative;
  display: inline-block;
  background-color: #ee2b3b;
  color: #fff;
  font-size: 1rem;
  width: fit-content;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  border: 2px solid #ee2b3b;
}

.about .about-content a .icon,
.projects .projects-content .overlay a .icon,
.projects .projects-content > a .icon,
.playground .playground-content > a .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #ee2b3b;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.about .about-content a:hover .icon,
.projects .projects-content .overlay a:hover .icon,
.projects .projects-content > a:hover .icon,
.playground .playground-content > a:hover .icon {
  opacity: 1;
}

/* #endregion */

/* #region about section */

.about .title::after {
  content: 'who i am';
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.about .about-content .text {
  font-size: 1.625rem;
  font-weight: bold;
}

.about .about-content .description {
  text-align: justify;
  margin-top: 1rem;
}

/* #endregion */

/* #region skills section */

.skills .title::after {
  content: 'what i know';
}

.skills .skills-content a {
  cursor: pointer;
  background-color: #fff;
  width: calc(25% - 1.5rem);
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px #999;
  transition: all 0.3s ease;
}

.skills .skills-content a:hover {
  box-shadow: 0 2px 4px #ee2b3b;
}

.skills .skills-content .card {
  padding: 1.5rem;
}

.skills .skills-content .card .box {
  transition: all 0.3s ease;
}

.skills .skills-content .card:hover .box {
  transform: scale(1.2);
}

.skills .skills-content .card img {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

/* #endregion */

/* #region projects section */

.projects .title::after {
  content: "what i've made";
}

.projects .projects-content {
  display: flex;
  flex-direction: column;
}

.projects .projects-content .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22.5rem;
  width: calc(50% - 1.5rem);
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px #999;
  overflow: hidden;
}

.projects .projects-content .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.projects .projects-content .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover img {
  transform: scale(1.15);
}

.projects .projects-content .card > a {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: default;
}

.projects .projects-content .card .text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover .text {
  opacity: 0;
}

.projects .projects-content .card .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  transform: scale(1.15);
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease;
}

.projects .projects-content .card:hover .overlay {
  transform: scale(1);
  opacity: 1;
  z-index: 15;
}

.projects .projects-content .card .overlay a {
  margin-top: 1rem;
}

/* #endregion */

/* #region playground section */

.playground .title::after {
  content: 'what i do for fun';
}

.playground .playground-content {
  display: flex;
  flex-direction: column;
}

.playground .playground-content .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22.5rem;
  width: calc(25% - 1.5rem);
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px #999;
  overflow: hidden;
  transition: all 0.3s ease;
}

.playground .playground-content .card > a {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.playground .playground-content .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.playground .playground-content .card:hover {
  box-shadow: 0 2px 4px #ee2b3b;
}

.playground .playground-content .card:hover img {
  transform: scale(1.15);
}

/* #endregion */

/* #region media queries */

/* large */
@media (max-width: 1200px) {
  .max-width {
    max-width: 1140px;
    padding: 0 4rem;
  }

  .about .about-content img {
    height: 22rem;
    width: 22rem;
  }

  .skills .skills-content a {
    width: calc(33% - 1.5rem);
  }

  .skills .skills-content .card img {
    height: 5rem;
    width: 5rem;
  }

  .playground .playground-content .card {
    width: calc(33% - 1.5rem);
  }
}

/* medium */
@media (max-width: 992px) {
  .max-width {
    max-width: 960px;
    padding: 0 3rem;
  }

  .main {
    position: relative;
  }

  /* overlay */
  .main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    z-index: -5;
    transition: all 0.3s ease;
  }

  .main.active::before {
    opacity: 0.65;
    z-index: 990;
  }

  .navbar .theme-switch {
    margin-right: 1.5rem;
  }

  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    margin-top: 5.75rem;
    padding: 2rem;
    padding-right: calc(1.5rem * 6 + 3rem);
    width: fit-content;
    background-color: hsl(270, 60%, 80%);
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    right: 0;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn.active i::before {
    content: '\f00d';
  }

  .home .home-content .name {
    font-size: 4.5rem;
  }

  .home .home-content .description {
    font-size: 2.25rem;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .projects .projects-content .card {
    height: 16.875rem;
  }

  .playground .playground-content .card {
    height: 18rem;
  }
}

/* small */
@media (max-width: 768px) {
  .max-width {
    max-width: 720px;
    padding: 0 2rem;
  }

  .navbar .menu {
    padding-right: calc(1.5rem * 6 + 2rem);
  }

  .home .home-content .name {
    font-size: 3.75rem;
  }

  .home .home-content .description {
    font-size: 2rem;
  }

  .skills .skills-content a {
    width: calc(50% - 1rem);
  }

  .projects .projects-content .card {
    width: 100%;
  }

  .playground .playground-content .card {
    width: calc(50% - 1.5rem);
  }
}

/* extra small */
@media (max-width: 576px) {
  .max-width {
    max-width: 540px;
  }

  .navbar .menu {
    right: -110%;
    padding-right: 4rem;
  }

  .home .home-content .name {
    font-size: 3.125rem;
  }

  .home .home-content .description {
    font-size: 1.625rem;
  }

  .skills .skills-content a {
    width: 100%;
  }

  .playground .playground-content .card {
    width: 100%;
  }
}

/* #endregion */
